<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {{ content_for_header }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    <div class="container">
      <a class="skip-to-content-link btn d-none" href="#MainContent">
        {{ "accessibility.skip_to_text" | t }}
      </a>

      {%- if settings.cart_type == 'drawer' -%}
        {%- render 'cart-drawer' -%}
      {%- endif -%}

      {% section 'announcement-bar' %}
      {% section 'header' %}
      <main>
        {{ content_for_layout }}
      </main>
    </div>
    {% section 'footer' %}
  </body>
</html>